:root {
    --main-color: #2d2f34;
    --sub-color: #383b40;
    --menu-button-color: #e0e0e0;
    --border-color: #555;
    --sub-border-color: #444;
    --body-color: black;
    --text-color: #ddd;
    --text-color-1: #ddd;
    --text-color-2: #bbb;
    --a-color: #7CACF8;
    --nav-color: #ddd;
    --bg-color-0: #1f2023;
    --bg-color-1: #111;
    --bg-color-2: #272727;
    --bg-color-3: #393939;
    --button-border-color: #efefef;
    --link-color: #090;
    --topic-color: #325a56;
}