/* 문단 */
h1, h2, h3, h4, h5, h6 {
    margin: 1.2em 0 0.6em;
    padding-bottom: 7px;
    border-bottom: 1px solid var(--sub-border-color);
}

/* 수평선 */
hr {
	margin: 1rem 0;
    border-color: var(--sub-border-color);
}

/* 링크 */
.opennamu_link_out, .opennamu_link_inter {
    color: var(--link-color);
}

/* 리스트 */ 
.opennamu_ul {
    padding-left: 0.7rem;
}

li {
    margin: 0.4em 0 0.4em 1em;
}

/* 인용문 */
blockquote {
	background: var(--bg-color-1);
	border: 1px var(--sub-border-color);
	border-left: 5px solid var(--menu-button-color);
	border-right: 5px solid var(--menu-button-color);
	display: table;
	margin: 1rem 0;
	padding: 1rem;
	border-radius: 16px;
	word-break: keep-all;
}

/* 디자인 강제 지정 */
a {
	color: var(--a-color);
}

summary {
    list-style: none;
    font-weight: bold;
}

td {
    padding: 5px 10px;
	border: 1px solid var(--border-color);
}

.opennamu_render_complete {
    font-size: 14.4px;
    line-height: 25px;
}

.table_safe {
    margin: 10px 0;
}

html {
    scroll-behavior: smooth;
}

/* 분류, 넘겨주기 알림 */
#cate, .opennamu_category {
    border: 1px solid var(--sub-border-color);
    border-radius: 15px;
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 5px 5px 5px 10px;
    display: inline-block;
    width: 100%;
}

#redirect, .opennamu_trace {
	background-color: var(--bg-color-3);
    border: 1px solid var(--sub-border-color);
    border-radius: 15px;
    font-size: 0.92rem;
    padding: 7px 7px 7px 12px;
    display: inline-block;
	color: var(--text-color-2);
    width: 100%;
	margin-bottom: 0;
}

/* 토론 디자인 */
.opennamu_comment {
	max-width: 100%;
	width: auto;
	word-wrap: break-word;
	position: relative;
}

.opennamu_comment_color_default, .opennamu_comment_color_green, .opennamu_comment_color_gray, .opennamu_comment_color_blue, .opennamu_comment_color_red {
	width: 100%;
	padding: 7px 10px;
    border-radius: 6px 6px 0px 0px;
	border: 1px solid #888;
	border-bottom: none;
	display: inline-block;
}

.opennamu_comment_color_gray {
	border: 1px solid #888;
}

.opennamu_comment_blind_not, #opennamu_comment_data_main {
	width: 100%;
	padding: 13px;
	border-radius: 0px 0px 6px 6px;
	border: 1px solid #888;
	border-top: none;
	display: inline-block;
	background: #f4f4f4;
	max-height: 500px;
	overflow-y: auto;
}

.opennamu_comment_scroll {
    max-height: none;
    overflow: scroll;
}

.opennamu_comment_blind {
	width: 100%;
	padding: 13px;
	border-radius: 0px 0px 6px 6px;
	border: 1px solid #888;
	border-top: none;
	background: #6b6b6b;
	color: #fff;
}

@media screen and (min-width: 701px) {
	.opennamu_comment {
		min-width: 400px;
	}
}

@media screen and (max-width: 700px) {
	.opennamu_comment {
		width: 100%;
	}
}

/* 메뉴 버튼 디자인 */
/* 데스크톱 이전까지만 표시 */
@media (min-width: 1024px) {
	div.menu-buttons {
		display: none;
	}
}

/* 태블릿까지 */
@media (max-width: 1023px) {
	div.menu-buttons {
		position: fixed;
		float: left;
		height: 45px;
		text-align: left;
		font-size: 1.3rem;
		z-index: 10000;
		bottom: 16px;
		left: 16px;
		opacity: 0.8;
	}
	
	div.menu-buttons a {
		display: inline-block;
		width: 45px;
		height: 45px;
		line-height: 43px;
		border: 2px solid var(--button-border-color);
		text-decoration: none;
		text-align: center;
		background: var(--main-color);
		color: white;
		border-radius: 20px;
	}
}

/* 모바일에서 탭바로 인한 간격 조정 */
@media (max-width: 798px) {
	div.menu-buttons {
		bottom: 76px;
	}
}


/* 탭바 디자인 */
@media (min-width: 799px) {
	.nav-tabbar {
		display: none;
	}
}

/* 태블릿 이전까지만 표시 */
@media (max-width: 798px) {
    .nav-tabbar {
        position: fixed;
		z-index: 10000;
		margin: 0 13px;
		padding: 0 9px;
        bottom: 18px;
		height: 54px;
		width: calc(100% - 26px);
		text-align: center;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border: 2px solid var(--button-border-color);
		background: var(--bg-color-2);
		border-radius: 20px;
    }

	.nav-tabbar li {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: block;
		float: left;
		width: 15%;
		font-size: 9px;
	}

	a.nav-tabbar-item {
		cursor: pointer;
		text-decoration-line: none;
		color: var(--menu-button-color);
	}

	.nav-tabbar .fa {
		font-size: 20px;
		margin: 4px 0 3px;
	}

	.nav-tabbar #nav-tabbar-color {
		color: #F74646;
	}

    div.scroll-buttons {
        bottom: 76px;
    }
}

/* 폰트 불러오기 */
@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: block;
	src: local('Pretendard Black'), url('/views/vision/fonts/woff2/Pretendard-Black.woff2') format('woff2'), url('/views/vision/fonts/woff/Pretendard-Black.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: block;
	src: local('Pretendard ExtraBold'), url('/views/vision/fonts/woff2/Pretendard-ExtraBold.woff2') format('woff2'), url('/views/vision/fonts/woff/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: block;
	src: local('Pretendard Bold'), url('/views/vision/fonts/woff2/Pretendard-Bold.woff2') format('woff2'), url('/views/vision/fonts/woff/Pretendard-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: block;
	src: local('Pretendard SemiBold'), url('/views/vision/fonts/woff2/Pretendard-SemiBold.woff2') format('woff2'), url('/views/vision/fonts/woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: block;
	src: local('Pretendard Medium'), url('/views/vision/fonts/woff2/Pretendard-Medium.woff2') format('woff2'), url('/views/vision/fonts/woff/Pretendard-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: block;
	src: local('Pretendard Regular'), url('/views/vision/fonts/woff2/Pretendard-Regular.woff2') format('woff2'), url('/views/vision/fonts/woff/Pretendard-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: block;
	src: local('Pretendard Light'), url('/views/vision/fonts/woff2/Pretendard-Light.woff2') format('woff2'), url('/views/vision/fonts/woff/Pretendard-Light.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: block;
	src: local('Pretendard ExtraLight'), url('/views/vision/fonts/woff2/Pretendard-ExtraLight.woff2') format('woff2'), url('/views/vision/fonts/woff/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: block;
	src: local('Pretendard Thin'), url('/views/vision/fonts/woff2/Pretendard-Thin.woff2') format('woff2'), url('/views/vision/fonts/woff/Pretendard-Thin.woff') format('woff');
}
