.main_title_a, .main_title_a:hover, .main_title_a:active {
    font-size: 30px;
    color: var(--text-color);
}

.opennamu_ul {
    padding-left: 0.7rem;
}

.hljs {
    background: #f5f8fa;
}

select {
    display: inline-block;
    padding: 0.4rem 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--bg-color-0);
    background-image: none;
    border: 1px solid var(--sub-border-color);
    border-radius: 14px;
}

input {
    border: 1px solid var(--border-color);
    padding: 5px 8px;
    border-radius: 16px;
}

.font-size-1 {
    font-size: 120%;
}

form#searchform {
    margin-bottom: 0;
}

button#searchGoButton {
    height: 2.3rem;
}

button#searchSearchButton {
    height: 2.3rem;
}

h1#main_title {
    margin-bottom: 0;
    margin-top: 0.3rem;
    padding-bottom: 4px;
    border-bottom: none;
}

a.navbar-brand {
    width: auto;
    margin-right: 20px;
}

blockquote {
    border-left: 5px solid #4188F1;
}

td {
    padding: 5px 10px;
}

#toc, .opennamu_TOC {
    border: 1px solid var(--sub-border-color);
    display: inline-block;
    padding: 20px 26px 22px 20px;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
}

#toc-name, .opennamu_TOC_title {
    font-size: 1.25rem;
    display: block;
    margin-left: -8px;
    margin-top: -10px;
    margin-bottom: -40px;
    padding-top: 10px;
    padding-bottom: 8px;
}

div.scroll-buttons a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 43px;
    border: 2px solid #e1e1e1;
    text-decoration: none;
    text-align: center;
    background: var(--button-bg-color);
    color: var(--text-color-1);
}

#scroll-button-toc {
    margin-right: -2px;
    border-radius: 20px 0 0 20px;
}

#scroll-button-left {
    margin-right: -2px;
    font-size: 19.7px;
}

#scroll-button-right {
    border-radius: 0 20px 20px 0;
    font-size: 19.7px;
}

div.scroll-buttons {
    position: fixed;
    float: right;
    height: 45px;
    text-align: right;
    font-size: 1.3rem;
    z-index: 10000;
    bottom: 16px;
    right: 16px;
    opacity: 0.4;
}

.scroll-buttons .fa {
    margin-top: 5px;
}

.opennamu_main .opennamu_link_out::before {
    padding: 5px 2px;
    margin-right: 1.5px;
    background: transparent;
    background: var(--link-color);
    color: #fff;
    content: "\f0c1";
    font-size: 0.8em;
    font-family: FontAwesome;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.2em 0 0.8em;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--sub-border-color);
}

.navbar-brand {
    margin: auto;
    font-size: 28px;
}

button {
    padding: 0.4rem 0.8rem;
    background: var(--bg-color-3);
    border: none;
    border-radius: 1rem;
}

button:hover {
    background-color: var(--bg-color-1);
}

button#save, button#opennamu_save_button {
    background-color: var(--menu-button-color);
    color: white;
    margin-right: 5px;
}

button#save:hover, button#opennamu_save_button:hover {
    background-color: var(--menu-button-color);
    opacity: 0.8;
}

button#preview, button#opennamu_preview_button {
    background-color: var(--sub-color);
    color: white;
}

button#preview:hover, button#opennamu_preview_button:hover {
    background-color: var(--sub-color);
    opacity: 0.8;
    color: white;
}

button#come {
    background-color: #f0ad4e;
    color: white;
    margin-left: 5px;
}

button#come:hover {
    background-color: #ec971f;
    color: white;
}


#cate, .opennamu_category {
    border: 1px solid var(--sub-border-color);
    border-radius: 5px;
    font-size: .9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 4px 4px 4px 6px;
    display: inline-block;
    width: 100%;
}

#redirect {
    background-color: #d9edf7;
    border: 1px solid #bcdff1;
    border-radius: 0.25rem;
    color: #31708f;
    font-size: .9rem;
    margin-bottom: 1.2rem;
    padding: 0.5rem 0.8rem;
    display: inline-block;
    width: 100%;
}

li.nav-item {
    margin: 0;
}


.vision .content-wrapper .vision-sidebar .vision-right-fixed .live-recent .live-recent-header .nav .nav-item .nav-link.active::before, .vision .content-wrapper .vision-sidebar .vision-right-fixed .live-recent .live-recent-header .nav .nav-item .nav-link:hover::before, .vision .content-wrapper .vision-sidebar .vision-right-fixed .live-recent .live-recent-header .nav .nav-item .nav-link:focus::before, .vision .content-wrapper .vision-sidebar .vision-right-fixed .live-recent .live-recent-header .nav .nav-item .nav-link:active::before {
    width: 7.5rem;
}

.vision .content-wrapper .vision-sidebar .vision-right-fixed .live-recent .live-recent-header .nav .nav-item + .nav-item {
    margin-left: 0;

    border-left: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0.35rem;
}

.vision .content-wrapper .vision-content .vision-content-main {
    overflow: visible;
}

th[rowspan], td[rowspan] {
    position: initial;
}

.nav-tabbar {
    position: fixed;
    bottom: 18px;
}

table {
    background-color: transparent;
}