<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if imp[3][0] != 0 %}
            <title>{{imp[0]}} {{imp[3][0]}} - {{imp[1][0]}}</title>
        {% else %}
            <title>{{imp[0]}} - {{imp[1][0]}}</title>
        {% endif %}
        <link rel="stylesheet" href="/views/vision/css/bootstrap.min.css.cache_v1">
        <link rel="stylesheet" href="/views/vision/css/default.css.cache_v5">
        <link rel="stylesheet" href="/views/vision/css/default_mobile.css.cache_v2">
        <link rel="stylesheet" href="/views/vision/css/jquery-ui.min.css.cache_v1">
        {{imp[3][3]|safe}}
        <link rel="stylesheet" href="/views/vision/css/style.css.cache_v12">
        <link rel="stylesheet" href="/views/vision/css/more.css.cache_v4">
        {% if request.cookies.get('main_css_darkmode', '') == '1' %}
            <link rel="stylesheet" href="/views/main_css/css/sub/dark.css.cache_v4">
            <link rel="stylesheet" href="/views/vision/css/dark.css.cache_v6">
        {% endif %}
        <style id="ringo_add_style"></style>
        <link rel="shortcut icon" href="/image/favicon.ico">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/views/vision/js/layout.js.cache_v3"></script>
        <script type="text/javascript" src="/views/vision/js/skin_set.js.cache_v6"></script>
        <script src="https://kit.fontawesome.com/de96a6a0bf.js" crossorigin="anonymous"></script>
        {{imp[1][5]|safe}}
        {{imp[2][3]|safe}}
        {% if imp[3][0] != 0 %}
            <meta name="title" content="{{imp[0]}}{{imp[3][0]}} - {{imp[1][0]}}">
        {% else %}
            <meta name="title" content="{{imp[0]}} - {{imp[1][0]}}">
        {% endif %}
        <meta name="keywords" content="{{imp[0]}}">
        {% if imp[2][12] != 0 and imp[2][12] == 'w' %}
            <meta name="description" content="{{data|cut_100}}">
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta property="og:type" content="website">
        <meta name="theme-color" content="#696FFF">
    </head>
    <body class="vision">
        <div class="nav-wrapper">
            <nav class="navbar navbar-dark">
                <a class="navbar-brand" href="/">{{imp[1][4]|safe}}</a>
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/recent_changes"><span class="fa fa-solid fa-compass"></span><span class="hide-title">{{'recent_change'|load_lang}}</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/recent_discuss"><span class="fa fa-solid fa-comment-dots"></span><span class="hide-title">{{'recent_discussion'|load_lang}}</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/random"><span class="fa fa-random"></span><span class="hide-title">{{'random'|load_lang}}</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bbs/main"><span class="fa fa-file-text"></span><span class="hide-title">{{'bbs_main'|load_lang}}</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-toggle-fix" href="#" data-toggle="dropdown" aria-expanded="false">
                            <span class="fa fa-solid fa-toolbox"></span><span class="hide-title">{{'tool'|load_lang}}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right nav-dropdown-menu" role="menu">
                            <a class="dropdown-item" href="/vote"><span class="fa fa-check-square-o"></span><span class="hide-title">{{'vote'|load_lang}}</span></a>
                            <a class="dropdown-item" href="/upload"><span class="fa fa-upload"></span><span class="hide-title">{{'upload'|load_lang}}</span></a>
                            <a class="dropdown-item" href="/other"><span class="fa fa-cogs"></span><span class="hide-title">{{'other_tool'|load_lang}}</span></a>
                            {% if imp[2][9] != '0' %}
				<div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/manager"><span class="fa fa-sliders"></span><span class="hide-title">{{'admin_tool'|load_lang}}</span></a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-toggle-fix" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-cogs"></span><span class="hide-title">{{'other_tool'|load_lang}}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right nav-dropdown-menu" role="menu">
                            <a class="dropdown-item" href="/list/document/all"><span class="fa fa-folder-open"></span><span class="hide-title">{{'all_document_list'|load_lang}}</span></a>
                            <a class="dropdown-item" href="/list/document/acl"><span class="fa fa-solid fa-shop-lock"></span><span class="hide-title">{{'acl_document_list'|load_lang}}</span></a>
                            <a class="dropdown-item" href="/list/document/need"><span class="fa fa-chain-broken"></span><span class="hide-title">{{'need_document'|load_lang}}</span></a>
                            <a class="dropdown-item" href="/list/document/long"><span class="fa fa-file-text-o"></span><span class="hide-title">{{'long_page'|load_lang}}</span></a>
                            <a class="dropdown-item" href="/list/document/short"><span class="fa fa-file-o"></span><span class="hide-title">{{'short_page'|load_lang}}</span></a>
                            <a class="dropdown-item" href="/list/document/old"><span class="fa fa-solid fa-business-time"></span><span class="hide-title">{{'old_page'|load_lang}}</span></a>
                            <a class="dropdown-item" href="/list/file"><span class="fa fa-file-image-o"></span><span class="hide-title">{{'image_file_list'|load_lang}}</span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/block_log"><span class="fa fa-low-vision"></span><span class="hide-title">{{'recent_ban'|load_lang}}</span></a>
                            <a class="dropdown-item" href="/list/user"><span class="fa fa-users"></span><span class="hide-title">{{'member_list'|load_lang}}</span></a>
                            <a class="dropdown-item" href="/list/admin"><span class="fa fa-user-secret"></span><span class="hide-title">{{'admin_list'|load_lang}}</span></a>
                            <a class="dropdown-item" href="/list/admin/auth_use"><span class="fa fa-solid fa-list-check"></span><span class="hide-title">{{'authority_use_list'|load_lang}}</span></a>
                        </div>
                    </li>
                    {% if imp[1][6] != '' %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-toggle-fix" href="#" data-toggle="dropdown" aria-expanded="false">
                                <span class="fa fa-plus-circle"></span><span class="hide-title">{{'added_menu'|load_lang}}</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right nav-dropdown-menu" role="menu">
                                {% for added_top_menu in imp[1][6] %}
                                    <a class="dropdown-item" href="{{added_top_menu[1]}}">
                                        <span class="fa fa-plus"></span>
                                        <span class="hide-title">{{added_top_menu[0]}}</span>
                                    </a>
                                {% endfor %}
                            </div>
                        </li>
                    {% endif %}
                </ul>
                <div class="navbar-login">
                    <div class="dropdown login-menu">
                        <a class="dropdown-toggle" type="button" id="login-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if imp[2][2] == 0 %}
                            <span class="fa fa-user-large"></span>
                            {% elif imp[2][4] != '' %}
                                <img class="profile-img" src="https://secure.gravatar.com/avatar/{{imp[2][4]|md5_replace}}?d=retro">
                            {% else %}
                                <img class="profile-img" src="https://secure.gravatar.com/avatar/00000000000000000000000000000000?d=retro&f=y">
                            {% endif %}
                        </a>
                        <div aria-labelledby="login-menu" class="dropdown-menu dropdown-menu-right login-dropdown-menu">
                            <div class="login-dropdown-name">
                                <div class="login-dropdown-name1">
                                    {{imp[2][10]}}
                                </div>
                                <div class="login-dropdown-name2">
                                    {% if imp[2][2] == 1 %}
                                        {% if imp[2][6] == '1' %}
                                            {% if 'owner' in imp[2][9] %}
                                                Owner
                                            {% else %}
                                                Admin
                                            {% endif %}
                                        {% else %}
                                            Member
                                        {% endif %}
                                    {% else %}
                                        IP User
                                    {% endif %}
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/change/skin_set"><span class="hide-title">{{'skin_set'|load_lang}}</span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/alarm"><span class="hide-title">{{'alarm'|load_lang}} ({{imp[2][8]}})</span></a>
                            <a class="dropdown-item" href="/user"><span class="hide-title">{{'user_tool'|load_lang}}</span></a>
                            <a class="dropdown-item" href="/change"><span class="hide-title">{{'user_setting'|load_lang}}</span></a>
                            {% if imp[2][2] == 1 %}
                                <a class="dropdown-item" href="/w/user:{{imp[2][10]}}"><span class="hide-title">{{'user_document'|load_lang}}</span></a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/record/{{imp[2][10]}}"><span class="hide-title">{{'edit_record'|load_lang}}</span></a>
                            <a class="dropdown-item" href="/record/topic/{{imp[2][10]}}"><span class="hide-title">{{'discussion_record'|load_lang}}</span></a>
                            {% if imp[2][2] == 1 %}
                                <a class="dropdown-item" href="/watch_list"><span class="hide-title">{{'watchlist'|load_lang}}</span></a>
                                <a class="dropdown-item" href="/star_doc"><span class="hide-title">{{'star_doc'|load_lang}}</span></a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
							{% if imp[2][2] == 1 %}
                                <a class="dropdown-item" href="/logout"><span class="hide-title">{{'logout'|load_lang}}</span></a>
                            {% else %}
                            <a class="dropdown-item" href="/login"><span class="hide-title">{{'login'|load_lang}}</span></a>
                            <a class="dropdown-item" href="/register"><span class="hide-title">{{'register'|load_lang}}</span></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <form method="post" action="/search" id="searchform" class="form-inline">
                    <div class="input-group">
                        <input type="search" name="search" placeholder="{{'search'|load_lang}}" accesskey="f" class="form-control" id="searchInput" autocomplete="off">
                        <span class="input-group-btn">
                            <button formaction="/goto" name="go" value="view" id="searchGoButton" class="btn btn-secondary"><span class="fa fa-solid fa-magnifying-glass"></span></button>
                            <button name="fulltext" value="search" id="searchSearchButton" class="btn btn-secondary"><span class="fa fa-arrow-right"></span></button>
                        </span>
                    </div>
                </form>
            </nav>
        </div>
        <div class="menu-buttons">
            <a class="scroll-menu" href="#sidebar"><i class="fa fa-solid fa-bars"></i></a>
        </div>
        <div class="scroll-buttons">
            <a class="scroll-toc" href="#toc" id="scroll-button-toc"><i class="fa fa-list-ul" aria-hidden="true"></i></a><!--
            --><a class="scroll-button" href="#" id="scroll-button-left"><i class="fa fa-angle-up" aria-hidden="true"></i></a><!--
            --><a class="scroll-bottom" href="#powered" id="scroll-button-right"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
        </div>
        <div class="nav-tabbar">
            <li><a class="nav-tabbar-item" href="/">
                <i class="fa fa-solid fa-house-chimney"></i><br>
                {{'main_page'|load_lang}}
            </a></li>
            <li><a class="nav-tabbar-item" href="/recent_changes">
                <i class="fa fa-solid fa-compass"></i><br>
                {{'recent_change'|load_lang}}
            </a></li>
            <li><a class="nav-tabbar-item" href="/recent_discuss">
                <i class="fa fa-solid fa-comment-dots"></i><br>
                {{'recent_discussion'|load_lang}}
            </a></li>
            <li><a class="nav-tabbar-item" href="/bbs/main">
                <i class="fa fa-file-text"></i><br>
                {{'bbs'|load_lang}}
            </a></li>
            <li><a class="nav-tabbar-item" href="/other">
                <i class="fa fa-solid fa-toolbox"></i><br>
                {{'tool'|load_lang}}
            </a></li>
            {% if imp[2][8] != '0' %}
                <li><a class="nav-tabbar-item" id="nav-tabbar-color" href="/alarm">
                    <i class="fa fa-solid fa-bell"></i><br>
                    {{'alarm'|load_lang}} ({{imp[2][8]}})
                </a></li>
            {% else %}
                <li><a class="nav-tabbar-item" href="/alarm">
                    <i class="fa fa-solid fa-bell"></i><br>
                    {{'alarm'|load_lang}}
                </a></li>
            {% endif %}
        </div>
        <div class="content-wrapper">
            <div class="container-fluid vision-content">
                <div class="vision-content-header">
                    {% if not menu == 0 %}
                        <div class="content-tools">
                            <div class="btn-group" role="group" aria-label="content-tools">
                                {% for sub_d in menu %}
                                    {% if sub_d|length > 2 and sub_d[2] == 1 %}
                                        <a class="btn btn-secondary tools-btn" href="/{{sub_d[0]}}" id="topic_color">{{sub_d[1]}}</a>
                                    {% else %}
                                        <a class="btn btn-secondary tools-btn" href="/{{sub_d[0]}}">{{sub_d[1]}}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="title">
                        <h1 id="main_title">
                                <a class="main_title_a" href="/w/{{imp[0]}}">{{imp[0]}}</a>
                            {% if imp[3][0] != 0 %}
                                <sub>{{imp[3][0]}}</sub>
                            {% endif %}
                        </h1>
                        {% if imp[3][1] != 0 %}
                            <div class="last-edit">
                                {{'last_edit_time'|load_lang}}: {{imp[3][1]}}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="vision-content-main wiki-article">
                    {{data|safe}}
                </div>
            </div>
            <div class="vision-sidebar" id="sidebar">
                <div class="vision-right-fixed">
                    <div class="sidebar-0">
                        <a class="sidebar-0-title" href="/user">{{'user'|load_lang}} <i class="fa fa-solid fa-angle-right"></i></a>
                        <div class="sidebar-0-account">
                            <div class="sidebar-0-profile">
                                {% if imp[2][2] == 0 %}
                                <span class="fa fa-user-large"></span>
                                {% elif imp[2][4] != '' %}
                                    <img class="profile-img" src="https://secure.gravatar.com/avatar/{{imp[2][4]|md5_replace}}?d=retro">
                                {% else %}
                                    <img class="profile-img" src="https://secure.gravatar.com/avatar/00000000000000000000000000000000?d=retro&f=y">
                                {% endif %}
                            </div>
                            <div class="sidebar-0-name">
                                <div class="sidebar-0-name1">
                                    {{imp[2][10]}}
                                </div>
                                <div class="sidebar-0-name2">
                                    {% if imp[2][2] == 1 %}
                                        {% if imp[2][6] == '1' %}
                                            {% if 'owner' in imp[2][9] %}
                                                Owner
                                            {% else %}
                                                Admin
                                            {% endif %}
                                        {% else %}
                                            Member
                                        {% endif %}
                                    {% else %}
                                        IP User
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-0-tool">
                            {% if imp[2][8] != '0' %}
                                <a class="sidebar-0-item" id="nav-tabbar-color" href="/alarm">
                                    <i class="fa fa-solid fa-bell"></i>
                                    <span class="sidebar-0-item-sub">
                                        {{imp[2][8]}}
                                    </span> 
                            {% else %}
                                <a class="sidebar-0-item" href="/alarm">
                                    <i class="fa fa-solid fa-bell"></i>
                                </a>
                            {% endif %}
                            <a class="sidebar-0-item" href="/change/skin_set">
                                <i class="fa fa-solid fa-gears"></i>
                            </a>
                            <a class="sidebar-0-item" href="/change">
                                <i class="fa fa-solid fa-pen-to-square"></i>
                            </a>
                            <a class="sidebar-0-item" href="/star_doc">
                                <i class="fa fa-solid fa-heart"></i>
                            </a>
                            <a class="sidebar-0-item" href="/logout">
                                <i class="fa fa-solid fa-right-from-bracket"></i>
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-1">
                        <a class="sidebar-1-title" href="/recent_changes"> {{'recent_change'|load_lang}} <i class="fa-solid fa-angle-right"></i></a>
                        <ul class="sidebar-1-list" id="sidebar-1-list">
                            {% for i in range(12) %}
                                <li><span id="sidebar-1-item">&nbsp;</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="right-ads-1">
                    </div>
                    <div class="sidebar-2">
                        <a class="sidebar-2-title" href="/recent_discuss"> {{'recent_discussion'|load_lang}} <i class="fa-solid fa-angle-right"></i></a>
                        <ul class="sidebar-2-list" id="sidebar-2-list">
                            {% for i in range(5) %}
                                <li><span id="sidebar-2-item">&nbsp;</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="sidebar-3">
                        <a class="sidebar-3-title" href="https://2du.pythonanywhere.com/w/오픈나무%20공용"> 연합 {{'recent_change'|load_lang}} <i class="fa-solid fa-angle-right"></i></a>
                        <ul class="sidebar-3-list" id="sidebar-3-list">
                            {% for i in range(10) %}
                                <li><span id="sidebar-3-item">&nbsp;</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="right-ads-2">
                    </div>
                </div>
            </div>
        </div>
        <div class="vision-footer" id="bottom">
            <p>
                {{imp[1][1]|safe}}
            </p>
            <div id="powered">
                Powered by <a href="https://github.com/openNAMU/openNAMU">openNAMU</a>, Designed by <a href="https://github.com/daol-project/Vision-skin">Vision</a>.
            </div>
        </div>
    </body>
</html>
